body {
    background-image: url("../image/002.jpg");
    color: antiquewhite;



}

.nav-bar-container {
    background-color: rgb(245, 244, 248);
    border-radius: 20px;
    padding: 8px 0;

    width: 100%;
    /* min-width: 400px; */
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: +1;
    overflow: hidden;
}

.nav-bar {
    width: 100%;

}

.nav-link {
    color: black;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0 33px;
    font-size: 20px;

}