.signin-page {
    padding: 10px;
    width: 300px;
    margin: auto;


}

.signin-header {
    text-align: center;
    font-style: italic;

}

.signin-container {
    border: 2px solid black;  
    border-radius: 5px 10px;
    padding: 20px;
    background-color: rgb(60, 197, 186);
    text-align: center;
    
}


label {
    color: black;
    float: left;
    padding-left: 20px;
}

#input {
    padding: 5px 35px;
    border-radius: 5px;
}

#signup {
    padding: 2.5px 90px;
    justify-content: center;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-size: 18px;
}

.signin-space {
    margin-top: 50px;
}